---
layout: archive
title: "Talks, Presentations and Podcasts"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


<!-- {% if site.talk_category %}
  {% for tcategory in site.talk_category %}
    {% assign title_shown = false %}
    {% for post in site.talks reversed %}
      <h4>Post Category -> {{post.category}}</h4>
      <h5>T category of 0 -> {{tcategory[0]}}</h5>
      {% if post.category != tcategory[0] %}
        {% continue %}
      {% endif %}
      {% include archive-single-talk.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %} -->

<!-- New style rendering if publication categories are defined -->
{% if site.talk_category %}
  {% for category in site.talk_category  %}
    {% assign title_shown = false %}
    {% for post in site.talks reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-talk.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}


<!-- <h2>Talks and Presentations</h2><hr />
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Podcasts</h2><hr />
{% for post in site.podcasts reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->